################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build artifacts
bin/
obj/

# User-specific files
*.user
*.vs
/SimurgWeb/obj/Debug/net8.0/SimurgWeb.AssemblyInfoInputs.cache
/SimurgWeb/obj/Debug/net8.0/SimurgWeb.AssemblyInfo.cs
