@using SimurgWeb.Services
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Anka4 Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Projeler
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Rapor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generalstatus" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Genel Durum
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userlist" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Kullanıcılar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customerList" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Müşteriler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="log-list" Match="NavLinkMatch.All">
                <span class="oi oi-document" aria-hidden="true"></span> Loglar
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <button class="btn btn-link nav-link" @onclick="HandleLogout">
                <i class="fas fa-sign-out-alt"></i> Çıkış Yap
            </button>
        </div> *@
       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
